input[type=text],
input[type=passwords],
input[type=email],
select {
  width: 100%;
}

input[type=text],
input[type=passwords],
input[type=email],
textarea,
select {
  border: 1px solid #D0D0D0;
  border-radius: 2px;
  padding: 13px;
  font-weight: 400;
  font-family: "Montserrat";
  outline: none;
}

::placeholder {
  color: #999;
}