@import '../variables.scss';

button, .btn {
  &.secondary {
    color: $background;
    background: $backgroundPrimary;
    box-shadow:  3px 3px 10px $primary, -3px -3px 10px #ffffff;

    &:hover {
      background: $background;
      color: $primary;
    }

    &:active {
      box-shadow:  2px 2px 4px $primary, -2px -2px 4px #ffffff;
    }
  }

  &.small {
    font-size: 12px;
    padding: 10px 15px;
    font-weight: 600;
  }
}