@import '../variables.scss';

.checkbox-container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 20px;

  margin-bottom: 5px;

  .checkbox-label {
    display: flex;
    justify-content: center;
  }

}

.checkbox-input {
  display: block;
  position: relative;
  padding-left: 35px;
  height: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px;

  input[type=checkbox]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: $primary;
      border-color: $primary;
    }

    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 3px;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }

    &:after {
      left: 6px;
      top: 1px;
      width: 4px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  input[type=checkbox] ~ .checkmark {
    background-color: #fff;
    border: 1px solid #D0D0D0;
  }
}