@import '../../components/variables.scss';

.ong-form-page {
  .image-name {
    display: flex;
    justify-content: flex-start;
    & div:first-child {
      margin-right: 15px;
      width: 90px;
    }
    & div:last-child {
      width: calc(100% - 15px);
    }
  }

  .cep-state {
    display: flex;
    justify-content: flex-start;
    & div:first-child {
      width: 60%;
      margin-right: 15px;
    }
    & div:last-child {
      width: calc(40% - 15px);
    }
  }

  .number-complement {
    display: flex;
    justify-content: flex-start;
    & div:first-child {
      width: 40%;
      margin-right: 15px;
    }
    & div:last-child {
      width: calc(60% - 15px);
    }
  }

  .space-between {
    display: flex;
    justify-content: space-between;
  }

  .product-grid-scroll {
    max-height: 150px;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 3px;
    background: #e8ebee;
  }
}

.radio-button-inline {
  display: flex;
  
  & > div {
    margin-right: 25px;
  }
}
