@import '../../components/variables.scss';

.header-home {
  width: 100%;
  nav {
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    a {
      margin-left: 20px;
      margin-bottom: 0px;
      font-size: 12px;
    }
  }

  .banner {
    height: 355px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 25px;
      font-weight: 500;
      width: 50%;
      line-height: 34px;
      color: $primary;
      background: rgba(255,255,255, .5);
      text-align: center;
    }
  }
}

.content {
  padding: 30px;
}