@import '../../components/variables.scss';

.header-home {
  width: 100%;
  nav {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & > div {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;
    }
    a {
      margin-left: 20px;
      margin-bottom: 0px;
      font-size: 12px;
    }
  }

  .banner {
    height: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../icons/banner.png") center no-repeat;
    h1 {
      font-size: 25px;
      font-weight: 900;
      width: 50%;
      line-height: 34px;
      color: $primary;
      background: rgba(255,255,255, .5);
      text-align: center;
    }
  }
}

.content {
  padding: 30px;
}