.search-container {
  input[type=text] {
    width: calc(100% - 40px);
    background: none;
    border: none;
  }

  img {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }
}