$primary: #FF4363;
$background: #fff;
$fontFamily: "Montserrat, sans-serif";
$tagFont: #FF4363;
$inputRange: #FF4363;
$mercadoLivreBlue: #2D3277;
$mercadoLivreYellow: #FFF159;
$buttonDefault: #7D8487;
$backgroundPrimary: transparent linear-gradient(147deg, #FF4363 0%, #FF6565 100%) 0% 0% no-repeat padding-box;
$danger: #F34E4E;
