$primary: #FFAC3A;
$background: #fff;
$fontFamily: "Montserrat, sans-serif";
$tagFont: #FC8000;
$inputRange: #FC8000;
$mercadoLivreBlue: #2D3277;
$mercadoLivreYellow: #FFF159;
$buttonDefault: #7D8487;
