.needs-item {
  padding: 15px;
  border: 1px solid #fff;
  background: #F3F3F3;
  box-shadow: 0px 8px 16px #60617029;
  border-radius: 15px;
  margin-bottom: 25px;
}

.needs-item-header {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  
  img {
    max-width: 90px;
    min-height: 90px;
    margin-right: 10px;
    border-radius: 15px;
  }

  h2 {
    margin-bottom: 10px;
  }

  h2, p {
    color: #282828;
    font-size: 14px;
    font-weight: 500;
  }

  p {
    font-weight: 400;
    display: block; 
    display: -webkit-box;
    max-width: 550px;
    font-size: 20dp;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.needs-item-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}