.search-container {
  background: #fff;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  margin-bottom: 15px;
  border: 1px solid #d7d7d7;
  
  input[type=text] {
    width: calc(100% - 40px);
    background: none;
    border: none;
  }

  img {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }
}